* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}
h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-size: 36px;
}

#div1 {
    min-height: 300px;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
}

img {
    border: 2px solid white;
    border-radius: 50%;
}