* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}
h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

#paraph {
    text-align: justify !important;
    text-justify: inter-word !important;
}

#div1 {
    min-height: 100%;
    width: 700px;
    margin: 0 auto;
}

img {
    border: 2px solid white;
    border-radius: 50%;
}